name: unit-tests-workflow
on:
    pull_request:
        branches:
            - master
            - next
jobs:
    run-unit-tests:
        name: "Run unit tests"
        runs-on: ubuntu-latest
        continue-on-error: true
        strategy:
            matrix:
                python-version: ["3.12"]
        steps:
          - name: Checkout Ask PanDA API repo
            uses: actions/checkout@v3

          - name: Setup Python3
            uses: actions/setup-python@v4
            with:
              python-version: ${{ matrix.python-version }}
              architecture: x64

          - name: Install dependencies
            run: pip install -r requirements.txt

          - name: Run unit tests
            run: python -m unittest
